@model EcomonedasUTN.Models.Cupon

@{
    ViewBag.Title = "Eliminar Cupón";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:50px">Eliminar Cupón</h2>


<div>
    <h4>Información de Cupón</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img width="100" src="@Url.Action("getImage", "Cupon", new {id=Model.id})">
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-success" /> |
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-outline-success" })
        </div>
    }
</div>
