@model EcomonedasUTN.Models.Cupon

@{
    ViewBag.Title = "Detalle Cupón";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="margin-top:50px">Detalle</h2>
    <h4>Información de Cupón</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img width="300" src="@Url.Action("getImage", "Cupon", new {id=Model.id})">
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-info" })
    </p>
</div>

