@model IEnumerable<EcomonedasUTN.Models.Cupon>
@using EcomonedasUTN.Models

@{
    ViewBag.Title = "Cupones";
    var usuario = ((Usuario)Session["session"]);
}

<div class="container">
    <h2 style="margin-top:30px">Cupones</h2>

    @using (Ajax.BeginForm("filtrarCuponesAjax", "Cupon", new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "divCupon",
        InsertionMode = InsertionMode.Replace

    }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                Buscar:
                @Html.TextBox("terminoBusqueda", "", new { @class = "form-control", @placeholder = "Criterio de búsqueda" })
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-info" />
            </div>
        </div>
    }

    <div id="divCupon" class="row">
        @foreach (var item in Model)
        {
            <div class="card bg-light mb-3" style="max-width: 20rem;margin-right:40px;margin-left:45px">
                <div class="card-header" style="text-align:center">@item.nombre</div>
                <img width="300" src="@Url.Action("getImage", "Cupon", new {id= item.id})">
                <div class="card-body">
                    <p style="text-align:center">@item.descripcion</p>
                    <h1 style="text-align:center;margin-top:20px">₡@item.valor</h1>
                    @Html.ActionLink("Detalles", "Details", "Cupon", new { id = @item.id }, new { @class = "btn btn-info btn-block" })
                    @if (usuario != null)
                    {
                        if (usuario.idRol == 3)
                    {
                            @Html.ActionLink("Canjear", "", "", new { }, new { @class = "btn btn-success btn-block" })
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>


