@model IEnumerable<EcomonedasUTN.Models.Centro>

@foreach (var item in Model)
{
    <div class="card card-cascade wider" style="width:300px; height:650px; margin-right:70px">

        <div class="view view-cascade overlay">
            <img class="card-img-top" src="~/Content/Imagenes/Centro.png" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <div class="card-body card-body-cascade text-center">


            <h4 class="cinta">  <strong>@item.nombre</strong></h4>
            <br />
            <h5 class="blue-text pb-2">Encargado:<strong>@item.Usuario.nombre </strong></h5>
            <p class="card-text">
                <br /> Dirección:<h5>@item.provincia   @item.direccion</h5>

                <a class="px-2 fa-lg li-ic">@Html.ActionLink("Detalles", "Details", "Centro", new { id = item.id }, htmlAttributes: new { @class = "btn  btn-block", @style = "background-color:TOMATO; color:white" })</a>
        </div>
    </div>
}
            </div>
</div>

<style typr="text/css">
    .cinta {
        position: relative;
        width: 310px;
        height: 50px;
        margin-right: 1000px;
        margin-left: -25px;
        text-align: center;
        border: 1px solid darkblue;
        background-color: #E74C3C;
        background-size: 4px 4px;
        font-family: 'Baskerville Old Face';
        color: CORNSILK;
    }

        .cinta:before {
            content: " ";
            position: absolute;
            display: block;
            width: 0px;
            height: 0px;
            top: 11px;
            left: -51px;
            border-color: TOMATO TOMATO TOMATO transparent;
            border-style: solid;
            border-width: 25px;
        }

        .cinta:after {
            content: "";
            position: absolute;
            display: block;
            border-color: ORANGERED ORANGERED TOMATO TOMATO;
            border-style: solid;
            border-width: 5px 10px 5px 10px;
            top: 51px;
            left: -1px;
        }

        .cinta span {
            text-transform: uppercase;
            font-family: arial;
            font-size: 30px;
            font-weight: bold;
            line-height: 50px;
            color: white;
            text-shadow: 1px 2px 3px grey;
        }

            .cinta span:before {
                content: " ";
                position: absolute;
                display: block;
                width: 0px;
                height: 0px;
                top: 11px;
                right: -51px;
                border-color: OLIVEDRAB transparent OLIVEDRAB OLIVEDRAB;
                border-style: solid;
                border-width: 25px;
            }

            .cinta span:after {
                content: "";
                position: absolute;
                display: block;
                border-color: darkblue OLIVEDRAB OLIVEDRAB darkblue;
                border-style: solid;
                border-width: 5px 10px 5px 10px;
                top: 51px;
                right: -1px;
            }
</style>