@model EcomonedasUTN.Models.Centro

@{
    ViewBag.Title = "Eliminar Centro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:50px">Eliminar Centro de Acopio</h2>


<div>
    <h4>Información Centro de Acopio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-success" /> |
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-outline-success" })
        </div>
    }
</div>
