@model EcomonedasUTN.Models.Centro

@{
    ViewBag.Title = "Detalle Centro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using EcomonedasUTN.Models

<div class="container">
    <h2 style="margin-top:50px">Detalle </h2>
    <h4>Información Centro de Acopio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
   @if (((Usuario)Session["session"]) != null)
   {
       if (((Usuario)Session["session"]).idRol == 1)
       {
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Regresar al Mantenimiento", "Index", "Centro", new { }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Regresar a la Lista", "ListaCentros", "Centro", new { }, new { @class = "btn btn-info" })
        </p>
       }
   }
   else
   {
        @Html.ActionLink("Regresar a la Lista", "ListaCentros", "Centro", new { }, new { @class = "btn btn-info" })
    }
</div>

