@model EcomonedasUTN.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="margin-top:50px">Detalle de Cuenta</h2>
    <h4>Información de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @{
                var email = (Session["email"]);
            }
            @email        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @{
                    var nombre = (Session["nombre"]);
            }
            @nombre
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @{
                var telefono = (Session["telefono"]);
            }
            @telefono
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @{
                var direccion = (Session["direccion"]);
            }
            @direccion
            
        </dd>
   
    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Cambiar Contraseña", "Clave", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Regresar", "Index","Inicio", new { }, new { @class = "btn btn-info" })
    </p> 
</div>



