@model EcomonedasUTN.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="margin-top:50px">Detalle de Cuenta</h2>
    <h4>Información de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @ViewData["email"]            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
           @ViewData["nombre"] 
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @ViewData["telefono"]
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @ViewData["direccion"]
            
        </dd>
   
    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Cambiar Contraseña", "", new { id = @ViewData["email"] }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Regresar", "Index","Inicio", new { }, new { @class = "btn btn-info" })
    </p> 
</div>



