@model EcomonedasUTN.Models.Material

@{
    ViewBag.Title = "Detalle Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EcomonedasUTN.Models

<div class="container">
    <h2 style="margin-top:50px">Detalle</h2>
    <h4>Información de Material Reciclable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            ₡@Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            <div style="background-color: @Model.color;width:300px;height:38px;border:2px solid black"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img width="300" src="@Url.Action("getImage", "Material", new {id=Model.id})">
        </dd>
    </dl>
    @if (((Usuario)Session["session"]).idRol == 1)
    {
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Regresar al Mantenimiento", "Index","Material", new { }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Regresar a la Lista", "ListaCentros","Material", new { }, new { @class = "btn btn-info" })
        </p>
    }
    else
    {
        @Html.ActionLink("Regresar a la Lista", "ListaCentros", "Material", new { }, new { @class = "btn btn-info" })
    }


</div>

